* {
  
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(33, 29, 51);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
  overflow: hidden;
}
/* location *//* location *//* location *//* location *//* location *//* location *//* location *//* location */
.location {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  display: none;
}

.location-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 10px;
}

.location-inner i {
  margin: 0.3em auto;
  font-size: 1.1em;
}




/* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */
header {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  transition: .5s;
} 

.header-wrapper {
  margin: auto;
  width: fit-content;
  padding: 1em;
  border-radius: 15px;
  animation: loadIn;
  display: none;
}


.header-wrapper h1, .header-wrapper p {
  width: fit-content;
  margin: auto;
  margin-top: 0.3em;
}

#exclamation {
  position: absolute;
  left: 50%;
  width: 5em;
  margin-left: -2.5em;
  margin-top: -2em;
  font-size: 2em;
  animation: exclamation, hiddenFella;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  z-index: -2;
  animation-delay: 0.4s;
  opacity: 0;
}

@keyframes hiddenFella {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes exclamation {
  0% {
    margin-top: -2em;
  } 100% {
    margin-top: -5em;
  }
}

header .header-img-wrap {
  width: 10em;
  margin: auto;
  position: absolute;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;
  animation: dropIn;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@keyframes dropIn {
  0% {
    margin-top: -50em;
  } 100% {
    margin-top: -5em;
  }
}

@keyframes riseIn {
  0% {
    margin-top: 50em;
  } 100% {
    margin-top: 0em;
  }
}

header img {
  width: 100%;
  border-radius: 50%;
}

.header-info {
  margin-top: 5em;
  width: fit-content;
  text-align: center;
  font-size: 1.3em;
  animation: headRiseIn;
  animation-duration: 0.5s;
}

@keyframes headRiseIn {
  0% {
    margin-top: 50em;
  } 100% {
    margin-top: 5em;
  }
}

@keyframes loadIn {
  0% {
    display: none;
  } 100% {
    display: inline;
  }
}

#bone {
  width: fit-content;
  font-size: 3em;
  margin: auto;
  margin-bottom: 0.5em;
  animation: Bone;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

#check {
  display: none;
  font-size: 5em;
  margin: auto;
  margin-bottom: 0em;
}

@keyframes Bone {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin: auto;
  margin-top: 0.5em;
  font-size: 1.2em;
}

.loading span:first-child {
  animation: loading;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

.loading span:nth-child(2) {
  animation: loading;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-delay: 0.1s;
}

.loading span:last-child {
  animation: loading;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-delay: 0.2s;
}

@keyframes loading {
  0% {
    opacity: 0;
  } 50% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}

.header-info span {
  width: fit-content;
}


/* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about *//* about */
.about {
  width: 100%;
  height: 100%;
  transition: 1s;
  display: none;
  flex-direction: column;
  margin: auto;
  animation: riseIn;
  animation-duration: 0.5s;
  font-size: 1.2em;
}

.about-wrapper {
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 2em;
  border-radius: 10px;
}

.about .greeting {
  text-align: center; 
  margin: auto;
  margin-bottom: 0;
}

.aboutOne {
  width: 20em;
  margin: auto;
  margin-top: 0;
  text-align: center;
}

.welcome-icons {
  margin: auto;
  width: fit-content;
}

.welcome-icons #device {
  font-size: 3em;
  margin: 0em;
  box-shadow: 3px 3px 5px rgba(43, 43, 43, 0.747);
  border-radius: 25px;
}

.welcome-icons i {
  padding: 0.3em;
}

.welcome-icons #checks {
  font-size: 1em;
  position: absolute;
  margin-top: 2.8em;
  margin-left: -1.6em;
  color: rgb(255, 0, 255);
}

.welcome-icons #checks:last-child {
  margin-left: -1.2em;
}

#about-details {
  list-style: square;
  margin: auto;
  text-align: left;
  width: fit-content;
  padding: 0;
}

#about-details li {
  border-bottom: 1px solid rgb(255, 0, 255);
}

/* skills */
.skills {
  width: 100%;
  height: 100%;
  display: none;
  animation-duration: 0.5s;
}

.skills-wrapper {
  margin: auto;
}

.skills-inner {
  border: 1px solid rgba(155, 155, 155, 0.747);
}

.skills h2 {
  margin: auto;
  position: absolute;
  width: 4em;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -2em;
}

.skills-icons {
  display: flex;
  font-size: 2em;
}

.skill-bar {
  width: fit-content;
  width: 100%;
  height: 16em;
  display: flex;
  margin-top: 0.5em;
}
.bar {
  background-color: magenta;
  border: 1px solid magenta;
  width: 2.4em;
  height: 2.5em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  z-index: -1;
  animation: skillbar;
  animation-duration: 1s;
  animation-delay: 0.33s;
  animation-fill-mode: forwards;
  margin-top: auto;
}
.bar:nth-child(2){
  animation: skillbartwo;
  animation-duration: 1s;
  animation-delay: 0.33s;
  animation-fill-mode: forwards;
}
.bar:nth-child(3){
  animation: skillbarthree;
  animation-duration: 1s;
  animation-delay: 0.33s;
  animation-fill-mode: forwards;
}
.bar:nth-child(4){
  animation: skillbarfour;
  animation-duration: 1s;
  animation-delay: 0.33s;
  animation-fill-mode: forwards;
}
.bar:nth-child(5){
  animation: skillbarfive;
  animation-duration: 1s;
  animation-delay: 0.33s;
  animation-fill-mode: forwards;
}
.bar i {
  font-size: 1.5em;
  margin-left: 0.25em;
  margin-top: 0.2em;
}

@keyframes skillbar {
  0% {
    height: 2.5em;
  } 100% {
    height: 90%;
  }
}
@keyframes skillbartwo {
  0% {
    height: 2.5em;
  } 100% {
    height: 90%;
  }
}
@keyframes skillbarthree {
  0% {
    height: 2.5em;
  } 100% {
    height: 33%;
  }
}
@keyframes skillbarfour {
  0% {
    height: 2.5em;
  } 100% {
    height: 60%;
  }
}
@keyframes skillbarfive {
  0% {
    height: 2.5em;
  } 100% {
    height: 80%;
  }
}

#design-id {
  margin-left: 0.2em;
}

.skill-numbers {
  position: absolute;
  width: 3em;
  margin: auto;
  margin-top: -18.3em;
  height: 16.5em;
  left: 50%;
  margin-left: -14em;
}
.skill-numbers ul {
  list-style: none;
}

.skill-numbers ul li {
  padding-bottom: 2.25em; 
}

.skill-names {
  position: absolute;
  width: fit-content;
  left: 50%;
  margin-left: -9em;
}

.skill-names ul {
  display: flex;
  padding: 0;
  margin: auto;
}

.skill-names ul li {
  list-style: none;
  padding-left: 1.23em;
  padding-right: 1.23em;
  padding-top: 0.7em;
  writing-mode: vertical-lr;
}

/* projects */
.projects {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  animation: riseIn;
  animation-duration: 0.5s;
}

.wrapper-wrapper {
  margin: auto;
  width: 65%;
  height: 20em;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border: 1px solid white;
  padding: 3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  overflow-y: hidden;
}

.project-wrap {
}

.project-wrap img {
  width: 100%;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.top-button {
  margin: auto;
  margin-bottom: -4em;
  border: 1px solid white;
  width: 10em;
  height: 2em;
  border-radius: 15px;
  padding-top: 0.7em;
  text-align: center;
}

.bottom-button {
  margin: auto;
  margin-top: -4em;
  border: 1px solid white;
  width: 10em;
  height: 2em;
  border-radius: 15px;
  padding-top: 0.7em;
  text-align: center;
}

/* Contact */
.contact {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  animation: riseIn;
  animation-duration: 0.5s;
}

@media (min-width: 767px) {
  .wrapper-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px){
  .time .column {
    width: 80%;
  }
  .wrapper-wrapper {
    grid-template-columns: repeat(4, 1fr);
    height: 40em;
  }
}


